.var1 {
    border: 15px solid blue;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
}

.var1 > li {
    display: inline;
    padding: 0px 10px;
    background-color: antiquewhite;
}

.var1 ul {
    display: inline;
    padding: 0px 10px;
}

.var2 li {
    background-color: lightgreen;
    width: 50%;
}

li.excluded {
    color: blueviolet;
}

#me {
    font-weight: bold;
}
p {
    font-size: xx-large;
}
